
<div class="knife-details">
    <!-- Vista de detalles del cuchillo -->
    <div>
      <h2>{{ cuchillo.nombre }}</h2>
      <p>Tipo: {{ cuchillo.tipo }}</p>
      <p>Filo: {{ cuchillo.filo }}</p>
    </div>
  
    <!-- Sección de dimensiones y materiales -->
    <div class="knife-materials-dimensions">
      <div>
        <p>Longitud de hoja: {{ cuchillo.longitudHoja }} cm</p>
        <p>Longitud total: {{ cuchillo.longitudTotal }} cm</p>
      </div>
      <div>
        <p>Material de la hoja: {{ cuchillo.hoja }}</p>
        <p>Material del mango: {{ cuchillo.mango }}</p>
      </div>
    </div>
  </div>


    <form [formGroup]="formulario" (ngSubmit)="editaCuchillo()">

        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" formControlName="nombre" >
    
            @if (formulario.controls["nombre"].getError("required") && formulario.controls["nombre"].touched) {
                <p>Campo requerido</p>
            }
        </div>
    
        <div>
            <label for="tipo">Tipo Cuchillo</label>
            <select name="tipo" id="tipo" formControlName="tipo">
                @for (item of tipos; track $index) {
                    <option [ngValue]="tipos[$index]"> {{tipos[$index]}} </option>
                }
            </select>
    
            @if (formulario.controls["tipo"].getError("required") && formulario.controls["tipo"].touched) {
                <p>Campo requerido</p>
            }
        </div>
    
        <div>
            <label for="filo">Filo</label>
            <select name="filo" id="filo" formControlName="filo">
                @for (item of filos; track $index) {
                    <option [ngValue]="filos[$index]"> {{filos[$index]}} </option>
                }
            </select>
    
            @if (formulario.controls["filo"].getError("required") && formulario.controls["filo"].touched) {
                <p>Campo requerido</p>
            }
        </div>
    
        <div>
            <label for="hoja">Hoja</label>
            <select name="hoja" id="hoja" formControlName="hoja">
                @for (item of materialHoja; track $index) {
                    <option [ngValue]="materialHoja[$index]"> {{materialHoja[$index]}} </option>
                }
            </select>
    
            @if (formulario.controls["hoja"].getError("required") && formulario.controls["hoja"].touched) {
                <p>Campo requerido</p>
            }
        </div>
    
        <div>
            <label for="mango">Mango</label>
            <select name="mango" id="mango" formControlName="mango">
                @for (item of materialMango; track $index) {
                    <option [ngValue]="materialMango[$index]"> {{materialMango[$index]}} </option>
                }
            </select>
    
            @if (formulario.controls["mango"].getError("required") && formulario.controls["mango"].touched) {
                <p>Campo requerido</p>
            }
        </div>
    
        <div>
            <label for="longitudHoja">Longitud hoja</label>
            <input type="number" name="longitudHoja" id="longitudHoja" formControlName="longitudHoja" >
    
            @if (formulario.controls["longitudHoja"].getError("min")  && formulario.controls["nombre"].touched) {
                <p>mayor a 0</p>
            }
        </div>
    
        <div>
            <label for="longitudTotal">Longitud total</label>
            <input type="number" name="longitudTotal" id="longitudTotal" formControlName="longitudTotal" >
    
            @if (formulario.controls["longitudTotal"].getError("min")  && formulario.controls["nombre"].touched) {
                <p>mayor a 0</p>
            }
        </div>
    
        <button type="submit">Agregar</button>
    </form>
    
